:root {
    /* color */
    --AquaCyan--: #28E489;
    --IronSideGrey--: #636863;
    --DarkJungleGreen: #1f1f1f;
    --AquaGreen--: #28E98C;
    --grey--: #918F91;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Archivo", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: "Archivo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: var(--DarkJungleGreen);
}

.changeToColor .social-icons-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    border-width: 100%;
    border: 1px solid var(--grey--);
    padding: 18px;
    top: 140px;
    border-radius: 56px;
    font-size: 15px;
    left: 88rem;

}

.fontbordetr {
    color: var(--grey--);
    margin: 7px;
    transition: color 0.3s ease-in;
}
.fontbordetr:hover{
color: var(--AquaCyan--);
}



@media (max-width: 1220px) {
    .changeToColor .social-icons-container {
        display: none !important
    }
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-icon {
    margin-left: 5px;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    font-size: 12px;
    background-color: var(--IronSideGrey--);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px; 
    position: absolute;
    z-index: 1;
    top: 56%;              
    right: 50px;            
    transform: translateY(-50%); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent var(--IronSideGrey--); 
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
